http://smmwe.online:80 https://smmwe.online:443 {
	tls smmwe_cloud.crt smmwe_cloud.pem {
		protocols tls1.0 tls1.2
	}
	proxy / https://smmwe-cloud-integration-yidaozhanya.vercel.app:443 {
		transparent
	}
	log stdout
	errors stdout
	bind 127.0.0.1
}
